apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: {{ ELASTIC_NAME }}
spec:
  version: 8.9.1
  nodeSets:
{% for name, item  in ELASTIC_NODES.items() %}
  - name: {{ name }}
    count: 1
    config:
      node.store.allow_mmap: false
    volumeClaimTemplates:
    - metadata:
        name: elasticsearch-data
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: {{ item.STORAGE_SIZE }}
        storageClassName: {{ item.STORAGE_CLASS }}
{% endfor %}
