apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: elastic-operator-ci-user
rules:
- apiGroups: ["elasticsearch.k8s.elastic.co"]
  resources: ["elasticsearches","elasticsearches/status","elasticsearches/finalizers"]
  verbs: {{ ELASTIC_OPERATOR_USER_CLUSER_ROLE }}
