apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: {{ POSTGRES_NAME }}
  labels: 
    app: {{ POSTGRES_APP }}
spec:
  databases:
{% for db_name, db_user  in POSTGRES_DATABASES.items() %}
    {{ db_name }}: {{ db_user }}
{% endfor %}
  users:
{% for name, options  in POSTGRES_USERS.items() %}
    {{ name }}: {{ options }}
{% endfor %}
  numberOfInstances: {{ POSTGRES_INSTANCE_COUNT }}
  patroni:
    synchronous_mode:  {{ POSTGRES_PATRONI_SYNC_MODE }}
    synchronous_mode_strict: {{ POSTGRES_PATRONI_SYNC_MODE_STRICT }}
  postgresql:
    version: "{{ POSTGRES_SERVER_VERSION }}"
    parameters: [ {% for item in POSTGRES_SERVER_PARAMS %} '{{ item }}', {% endfor %} ]
  volume:
    size: {{ POSTGRES_PVC_SIZE }}
    storageClass: {{ POSTGRES_PVC_CLASS }}
  resources: 
    limits:
      cpu: {{ POSTGRES_LIMITS_CPU }}
      memory: {{ POSTGRES_LIMITS_MEMORY }}
    requests:
      cpu: {{ POSTGRES_REQUESTS_CPU }}
      memory: {{ POSTGRES_REQUESTS_MEMORY }}