apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: postgres-user
rules:
- apiGroups: ["acid.zalan.do"]
  resources: ["postgresql"]
  verbs: {{ POSTGRES_OPERATOR_USER_CLUSTER_ROLE }}
