apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ REDISCLUSTER_SECRET }}
  namespace: {{ NAMESPACE }}
  labels: 
    app: {{ REDISCLUSTER_LABEL }}
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/redis_cluster"
