apiVersion: v1
kind: Service
metadata:
  name: rediscluster-metrics-svc
  labels: 
    app: rediscluster
    app.kubernetes.io/component: "metrics"
spec:
  type: ClusterIP
  selector: 
    app: rediscluster
  ports:
    - name: http-metrics
      port: 9114
      targetPort: metrics
