apiVersion: v1
kind: Service
metadata:
  name: rediscluster-svc
  labels: 
    app: rediscluster
spec:
  type: ClusterIP
  selector: 
    app: rediscluster
  ports:
  - name: tcp-api
    port: 6379
    targetPort: api
